{
  "domains": [
    {
      "domain": "buylink.pro",
      "channel": "buylinkpro",
      "source": "manual",
      "at": "2026-08-20T00:00:00Z"
    },
    {
      "domain": "topxpartners.com",
      "channel": "aff",
      "source": "manual",
      "at": "2026-08-20T00:00:00Z"
    }
  ]
}
